@import "../../../global.scss";

.home_page {
	margin-top: calc($margin-top - 50px);

	.image_search_section {
		background-image: url("https://im1.dineout.co.in/images/uploads/misc/2021/Mar/31/oldherobannerwebfinal_bau.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		height: 350px;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		h1:first-child {
			color: white;
			span {
				color: #ff645a;
			}
		}

		.inputSpan {
			border: 1px solid rgb(196, 196, 196);
			height: 40px;
			border-radius: 5px;
			background-color: white;
			width: 70%;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 4px 7px;

			i {
				color: #ff645a;
			}
		}
	}
	.featured_restaurants {
		width: 90%;
		margin: auto;

		h2 {
			width: 90%;
			text-align: center;
			color: rgb(66, 66, 66);
			margin: 20px auto 10px auto;
		}

		.mapped_restaurants {
			margin-top: 20px;
			display: flex;
			justify-content: center;
			align-items: flex-start;
			gap: 20px;
			margin-bottom: 30px;
		}
	}
}
