@import "../../../global.scss";

.best__restaurants {
	margin-top: $margin-top;
	color: grey;
	font-weight: 500;
	font-size: 25px;
	margin-left:2.3%;
}

.mapped__restaurants {
	display: flex;
	justify-content: center;
	align-items: flex-start;

	.left {
		flex: 1;
		display: flex;
		justify-content: center;
		align-items: flex-end;
		margin-left: 20px;
	}
	.right {
		flex: 3;
		display: grid;
		grid-template-columns: repeat(3, 28%);
		place-content: center;
		gap: 20px;
	}
}
