.wrapper {
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	padding-bottom: 5px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
	background-color: white;

	.navbar {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 10px;
		border-bottom: 1px solid rgb(196, 196, 196);
		padding: 15px 0;

		img {
			width: 100px;
			margin-right: 20px;

			&:hover {
				cursor: pointer;
			}
		}

		i.material-icons {
			color: grey;
		}

		.inputSpan {
			border: 1px solid rgb(196, 196, 196);
			border-radius: 5px;
			width: fit-content;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 4px 7px;

			i {
				color: #ff645a;
			}
		}
	}

	.bottom_search_options {
		list-style-type: none;
		display: flex;
		justify-content: center;
		gap: 20px;
		font-size: 14px;

		align-items: center;
		li {
			a {
				text-decoration: none;
				color: grey;

				&:hover {
					color: #ff645a;
				}
			}
		}
	}
}
