@import "./variables.scss";
@import "react-slideshow-image/dist/styles.css";
@import '../../../global.scss';

.restCont{
    // border: 1px solid $green;
    width: 80%;
    margin: auto;
    height: 100%;
    margin-top: $margin-top; 
    padding:1%;
    position: relative;
} 
.leftRest{
    display: inline-block;
    width: 70%;
    height: 100%;
    // border :1px solid red;
    margin-right: 1%;
      
    & > div {
        width: 100%;
        height: 528px;
        // border: 1px solid black;
        display:flex;
        flex-direction: column;
    }
}
.slideCont{
    background-color:white;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

.slideDiv{
    width: 100%;
    height: 75%;
    background-color: white;
    
}
.titleDiv{
    width: 100%;
    height: 25%;
    display: flex;

  & > div{
        width: 50%;
        height: 100%;
        padding-left: 10px;
        & >h2{
            margin: 3px;
        }
   
    }
}

.direcDiv{
    margin: 3px;
    margin-left: 2px;
     span {
         color:$skyColor;
         font-weight: bold;
         cursor: pointer;
     }

}


.priceA {
    color: grey;
    font-weight: lighter;
    margin: 3px;
    margin-left: 2px;
}

.rightRest{
    
    display: inline-block;
    position:fixed;
   
}

.each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size:cover;
    height: 370px;
}
  
.imgView{
    width: 69%;
    height: 150px !important;
    background-color: white;
    margin-top: 10px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    padding-left:10px;
    padding-bottom: 5px;
    & >h3{
        margin:0;
        margin-bottom:5px;
    }

    &>div{
        width: 15%;
        height: 80%;


        &>img {
            width: 100%;
            height: 100%;
        }
    }
}

.infoDiv{
    width: 68.2%;
    height: 60px !important;
    background-color: white;
    margin-top: 10px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    display: flex;
    padding:10px;
    align-items: center;
    justify-content: center;

    &>div {
        width: 98%;
        height: 90%;
        border: 1px solid $skyColor;
        border-radius: 5px;
        display: flex;
        padding-left: 5px;
        justify-content: space-between;
        align-items: center;

        h3{
            margin:0
        }

        & >div:nth-child(2){
            width:120px;
            height: 40px;
            display:flex;
            justify-content:center;
            align-items:center;
            margin-right: 20px;
            color: white;
            border-radius: 20px;
            background-color: $skyColor;
            cursor: pointer;
        }
    }
}


.helpDiv{
    width: 68.5%;
    height: 130px !important;
    background-color: white;
    margin-top: 10px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    padding-top: 10px;
    padding-left: 15px;
    
    h3{
        margin:0;
    }
}

.helpWrapper{
    width: 100%;
        height:80%;
        display:flex;
}
.helpLogoDiv{
        width: 49%;
        height: 100%;
        display: flex;
        gap:10px;
        align-items: center;

        &>div:nth-child(1){
            width:15%;
            height: 56%;
            margin-left: 10px;
            img{
                width: 100%;
                height: 100%;
                
            }
        }

        &>div:nth-child(2){
            
            h4,p{
                margin: 0;
                margin-bottom: 5px;
            }
        }

    
}
.fssaiDiv{
    width: 100px;
    height: 50px;
    margin-top: 10px;

    img{
        width: 100%;
        height: 100%;
    }

}

.likedRestDiv{
    width: 69%;
    height: 300px !important;
    background-color: white;
    margin-top: 10px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    padding-left:10px;
    padding-bottom: 2px;
    padding-top: 10px;

    & >div:nth-child(1){

        h3,p{
            margin:0;
            margin-bottom: 5px;
            margin-left: 10px;
        }
          
        
    }
}


.restCardDiv{
    width: 98%;
    height: 75%;
    padding:1%;
    display:flex;
    gap:1%;

    &>div{
        width: 30%;
        height: 100%;
        border-radius: 5px;

        &>div:nth-child(1){
            width: 99%;
            height: 60%;

            &>img{
                width: 100%;
                height: 100%;
            }
        }
        &>div:nth-child(2){
            width: 100%;
            height: 38%;
           background-color:$creamColor;
           display:flex;

           &>div:nth-child(1){
             
                height: 100%;
                width: 70%;

                h4,h5,p{
                    margin: 0;
                    margin-top: 2px;
                    margin-left: 5px;
                }

                h5{
                    color:$green;
                }
           }
           &>div:nth-child(2){
             height: 100%;
             width: 25%;
            display: flex;
            padding-top: 5px;
            justify-content: flex-end;
            i{
                padding-top: 5px;
                color: $green;
            }
        }
        }
    }
}

.overView{
    width: 69%;
    height: 650px !important;
    background-color: white;
    margin-top: 10px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    padding-left:10px;
    padding-bottom: 5px;
    // border:1px solid black;
}
.aboutLogo{
    width: 100%;
    height: 9%;
    padding:5px;
    display: flex;
    align-items: center;
    gap:10px;
    
    &>div:nth-child(1){
        width: 5%;
        height: 60%;

        img{
            width: 100%;
            height: 100%;

        }
    }

    &>div:nth-child(2){
        h4,p{
            margin:0
        }
        h4{
            color:$gold;
        }
        p{
            color:grey;
        }
    }
}

.lastLogo{
    width: 100%;
    height: 32%;

    & >div:nth-child(2){
        width: 80%;
        height: 68%;
        transform: translateX(7%);
        display:grid;
        grid-template-columns: repeat(3,30%);
        grid-template-rows: repeat(2,50%);
        gap:2px;
    }


    &>div:nth-child(1) {
       
        width: 100%;
        height: 28%;
        padding:5px;
        display: flex;
        align-items: center;
        gap:10px;


        
        &>div:nth-child(1){
            width: 5%;
            height: 60%;
    
            img{
                width: 100%;
                height: 100%;
    
            }
        }
    
        &>div:nth-child(2){
            h4,p{
                margin:0
            }
            h4{
                margin-bottom:10px;
                color:$gold;
            }
            p{
                color:grey;
            }
        }
    }
}

.featureLogo{
        display: flex;
        align-items: center;
        gap:20px;
        cursor: pointer;
        padding-left:10px;

        &>div:nth-child(1){
            width: 12%;
            height: 40%;
    
            img{
                width: 100%;
                height: 100%;
    
            }
        }
    
        &>div:nth-child(2){
            h4,p{
                margin:0
            }
            h4{
                color:grey;
            }
            p{
                color:grey;
            }
            p:hover{
                color:$skyColor;
            }

        }
}

.aboutDiv{
    width: 100%;
    height: 25%;

    h3 ,p {
        margin:0;
    }
    p{
        font-size:15px;
    }
    h3{
        margin-bottom: 5px;
    }
}

.dinOffers{
    width: 70%;
    height: 70px !important;
    background-color: white;
    margin-top: 10px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    display: flex;
    justify-content:space-evenly;

    &>div:nth-child(1){
        width: 30%;
        height: 100%;

        & > img{
            width: 100%;
            height: 100%;
        }
    }

    & > div:nth-child(2){
        width: 70%;
        height: 100px;

    }
}

#optionDiv{
    // border: 1px solid black;
    display:flex;
    justify-content:space-evenly;
    gap: 2px;
    width: 70%;
    height: 45px !important;
    background-color: white;
    margin-top: 160px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;


    & > div{
        width: 19%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items:center;
        font-weight:bold;
        font-size:1.1rem;
    }
   
    & >div:hover {
        border-bottom: 5px solid $green;
    }
    & >div:focus{
        border-bottom: 5px solid $green;
    }
}

.overFocused{
    border-bottom: 0;
}
.overNotFocused{
    border-bottom: 5px solid $green;
}

